<!DOCTYPE html>
<html lang='en' class=''>
		<head>
		<title>CSR | Waves 2018</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="theme-color" content="#000000">
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
		
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <!-- Bootstrap core CSS -->
         <link href="/css/bootstrap.min.css" rel="stylesheet">
         <!-- Material Design Bootstrap -->
         <link href="/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/register.css">
        <style>
        .social-footer{
            display: none;
        }
        .right-footer{
            display:none;
        }
        </style>
		</head>
		<body  style="background-image: url('/img/book.jpg'); background-size: 500px 500px; background-repeat: repeat;">
			
		<header>
			<div class="nav">
				<div class="toggle">
					<div class="bar" style="background:black"></div>
				</div>
				<nav class="hidden">
					<div class="showcase">
            <div class="showcase-container">
                <ul class="showcase-menu">
                    <li><img src="../img/logo-lite.png" alt="Waves Logo"></li>
                    <li><img src="../img/reg.png" alt="Registration"></li>
                    <li><img src="../img/events.png" alt="Events"></li>
                    <li><img src="../img/csr1.png" alt="csr"></li>
                    <li><img src="../img/sponsors.png" alt="csr"></li>
                    <li><img src="../img/youtube.png" alt="Conclave"></li>
                    <li><img src="../img/contact-us.png" alt="csr"></li>
                    <li><img src="../img/our-team.png" alt="our-team"></li>
                </ul>
            </div>
        </div>

<div class="menu">
<ul class="main-menu">
<li><a href="/">Home</a></li>
<li><a href="/register">Registration</a></li>
<li><a href="/events">Events</a></li>
<li><a href="/event/csr">CSR</a></li>
<li><a href="/sponsors">Sponsors</a></li>
<li><a href="/conclave">YouTube Conclave</a></li>
<li><a href="/contact-us">Contact Us</a></li>
<li class="active"><a href="/our-team">Our Team</a></li>
</ul>
</div>
				</nav>
			</div>
		</header>
		<div class="main-content">
                <div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
        <!-- Card -->
        <div class="card" style="margin-left:20px;background-color: #ffcc00;background-image: url('/img/csr_back_2.jpg'); margin-right:20px; margin-top: 50px;">
            <!-- Card body -->
          <div class="card-body">
        
                <!-- Material form register -->
                <h1 style="color: #111; font-family: 'Open Sans', arial; font-size: 10vw; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;">
                  The Ripple Project
                </h1>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <h2 style="color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: justify; text-justify: inter-word">
                        In a developing nation like India, our future lies in the hands of the generation we educate today. Education is not- and should not be a luxury. It is a basic necessity. Having said this, there still exists a stark difference in the education and literacy rate between rural and urban areas in India. Though there are many factors that may affect this, lack of resources for education proves to be one of the primary reasons. <br><br>
                    </h2>
                  </div>
                  <div class="col-md-6">
                    <h2 style="color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: justify; text-justify: inter-word">
                    Acknowledging this issue and its importance, we wish to play our own part and hopefully make a difference in a few children’s lives. For the second year in a row, Waves will contribute to a cause through its social wing – <b>The Ripple Project</b>. Through comprehensive book collection drives in multiple cities all over the country, we as students plan to give back to society and do our bit.
                    </h2>
                  </div>
              </div>
              <center><h4>Drive commences on August 13th and ends September 14th</h4></center>
              <h3> Guidelines for Donating Books: </h3>
              <br>
              <ol>
                  <li> We accept all sort of School text books, Educational books of Medicine, Engineering, MBA, IT and other books of competitive entrance exams, reference books, picture books & story books for children, fiction / non fiction novels, blank painting books. </li>
                  <li><b>Books in Hindi, Marathi & Regional Language will be appreciated.</b></li>
                  <li>We do not accept Exercise books or Rough books and magazines.</li>
                  <li><b><u>We will have it collected from your home at our cost by Ecom courier. Their pick up timings are 3 to 6 pm only. They do not work on Sunday.</u></b></li>
                  <li>Please ensure that total parcel weight should be<b> ​more than 5 Kgs​</b> so that it is cost effective for us as we are picking it up by courier. <br></li>
              <b>Items are to be packed in strong cardboard boxes & sealed by you, courier person will not do the packing(The couriers do not accept plastic carry bags)</b>
              <br>
              <b>Per box weight should not exceed 10 kgs​</b>, if it is so, pls make 2 or more boxes. ​
              <br>
              Please mention your name (name of the person making this inquiry) on the box so that
              when it reaches us we can identify & confirm back to you. Also mention our name & address on boxes.
              <br>
              <b>
                Tel : 7498989292/ 022-2389 8930
                <br>
                ​Reply in the same mail with following info:
                <ol>
                <li>​No. of boxes kept ready
                <li>​Approx weight of total parcel
                <li>You postal address (with pincode)
                <li>Your mobile no.
                <li>Name mentioned on the box/ boxes
                </ol>
              </b>
              <br><br>
              <li>Please prepare following declaration ready to be handed over to the courier:</li>
            </ol>
            <b><center>TO WHOMSOEVER IT MAY CONCERN<br>“This shipment contains garments /books which are being given as donation to<br>Ratna Nidhi Charitable Trust, Mumbai 400 004.<br>
        DOES NOT have any commercial value “</center></b>
        
        <br><br>
            <h3> About our Association: </h3>
            <br>
            <div col="class=col-md-3">
            <img src="/img/ratna.png" align="right">
          </div>
          <div class="col-md-9">
            Ratna Nidhi Charitable Trust, is a registered charity that
            was established over 24 years ago by Mr Mahendra
            Mehta. It was set up in order to tackle the problems of
            poverty in Mumbai, especially amongst young children.
            From its humble origins as a family institution it has
            grown rapidly, and now its projects cover a wide range
            of activities located in both India and other developing
            countries, including Afghanistan, Sudan, Kenya and
            Burundi. Ratna Nidhi Charitable Trust is committed to
            the welfare of people from the most underprivileged strata of society without distinction of caste, creed or color. Its emphasis is on assisting the children and youth who are the citizens of tomorrow and the disabled who need a support to help them join mainstream society. Ratna Nidhi's Mission Million Books project seeks to donate 1 million books to 10,0000 low income schools and colleges in India. Through this project, 7 lakh books have been donated to over 4000 educational institutions in the country. These books are donated to low income schools and colleges. The project seeks to create access to quality reading material for low income educational institutions in India.
          </div>
            <br><br>
            <a href="http://www.ratnanidhi.org/Category/book-donation/"><h3>More on the Book Donation Project can be found here</h3></a>
            <br>
            For more details you can visit <a href="www.RatnaNidhi.org">​www.RatnaNidhi.org</a>
        
            <br>
              <p style="color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: center;">
                For further queries, contact <a href="tel:+919158077868">Dhananjay</a>
              </p>
          </div>
            <!-- Card body -->
        
        </div>
        <!-- Card -->
        
                        </div>
                    </div>

		</div>

		<footer>
			<div class="social-footer">
				<a href="/"><i class="fa fa-facebook"></i></a>
				<a href="/"><i class="fa fa-instagram"></i></a>
				<a href="/"><i class="fa fa-youtube"></i></a>
				<a href="/"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="right-footer">
				<a href="/">DEVELOPERS</a>
			</div>
        </footer>
       
		
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js'></script>
        <script src="/js/nav.js"></script>
      <!-- JQuery -->
      <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
      <!-- Bootstrap tooltips -->
      <script type="text/javascript" src="/js/popper.min.js"></script>
      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="/js/bootstrap.min.js"></script>
		</body></html>