<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dance</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
		
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Ishita">
  
  <!-- Boomerang CSS (including Bootstrap) -->
    <link type="text/css" href="/css/theme.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->


<div class="perspective effect-rotate-left" style="background:#000">
  <div class="container-fluid">
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a href="/events"><img style="width:40px;height:40px;" src="/img/close-button.png"></a>
        </header>


    <ul class="l-main-content main-content">

        <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1 style="color:#fff">Dance<br></h1>
                <img src="/img/sizzle.png" alt="Welcome">
              </div>
              <div class="intro--options">
                <a href="/footloose">
                  <font size="5">Footloose</font>
                </a>
                <a href="/natyanjali">
                  <font size="5">Natyanjali (Thematic)</font>
                </a>
                <a href="/nonthematic">
                  <font size="5">Natyanjali (Non-Thematic)</font>
                </a>
                <a href="/sizzle">
                  <font size="5">Sizzle</font>
                </a>
                <a href="/dancingduo">
                  <font size="5">Dancing Duo</font>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<!-- Bootstrap JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- Boomerang JS -->
    <script src="/js/theme.js"></script>

</body>
</html>
