<!DOCTYPE html>
<html lang='en' class=''>
		<head>
		<title>Developers | Waves 2018</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="theme-color" content="#000000">
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

		<link rel="stylesheet" type="text/css" href="css/styles.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <!-- Bootstrap core CSS -->
         <link href="/css/bootstrap.min.css" rel="stylesheet">
         <!-- Material Design Bootstrap -->
         <link href="/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/style.css">
        <style>
        i.fa{
            background: transparent;
        }
        </style>
		</head>
		<body style="background-color:black;">

			<header>
				<div class="nav">
					<div class="toggle">
						<div class="bar"></div>
					</div>
					<nav class="hidden">
	                        <div class="showcase">
	                                <div class="showcase-container">
	                                    <ul class="showcase-menu">
	                                        <li><img src="img/logo-lite.png" alt="Waves Logo"></li>
	                                        <li><img src="img/reg.png" alt="Registration"></li>
	                                        <li><img src="img/events.png" alt="Events"></li>
	                                        <li><img src="img/csr1.png" alt="csr"></li>
	                                        <li><img src="img/sponsors.png" alt="csr"></li>
																					<li><img src="img/youtube.png" alt="Conclave"></li>
	                                        <li><img src="img/contact-us.png" alt="csr"></li>
	                                        <li><img src="img/our-team.png" alt="our-team"></li>
	                                    </ul>
	                                </div>
	                            </div>

						<div class="menu">
							<ul class="main-menu">
								<li><a href="/">Home</a></li>
								<li><a href="/register">Registration</a></li>
								<li><a href="/events">Events</a></li>
								<li><a href="/event/csr">CSR</a></li>
								<li><a href="/sponsors">Sponsors</a></li>
								<li><a href="/conclave">YouTube Conclave</a></li>
								<li><a href="/contact-us">Contact Us</a></li>
								<li class="active"><a href="/our-team">Our Team</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
		<div class="main-content">
                <!-- Section: Team v.2 -->
<section class="team-section text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Developers</h2>

        <!-- Grid row -->
        <div class="row text-center" style="margin-bottom:20px;">

          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://avatars2.githubusercontent.com/u/28765515?s=460&v=4" class="rounded z-depth-1-half" alt="avatar" width="250px;">
            </div>
            <h4 class="font-weight-bold my-4">Aryan Agarwal</h4>
            <h6 class="text-uppercase grey-text mb-3"><strong>Web Developer</strong></h6>
            <!-- Facebook-->
            <a class="btn-floating btn-sm mx-1 mb-0 btn-fb" href="https://www.facebook.com/AryanAg15">
              <i class="fa fa-facebook"></i>
            </a>

            <!-- Github -->
            <a class="btn-floating btn-sm mx-1 mb-0 btn-tw" href="https://github.com/aryanagarwal15">
              <i class="fa fa-github"></i>
            </a>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                  <img src="https://avatars2.githubusercontent.com/u/10388889?s=400&v=4" class="rounded z-depth-1-half" alt="avatar" width="250px;">
                </div>
                <h4 class="font-weight-bold  my-4">Mehul Mohan</h4>
                <h6 class="text-uppercase grey-text mb-3"><strong>Web Developer</strong></h6>

                <!-- github -->
                <a class="btn-floating btn-sm mx-1 mb-0 btn-tw" href="https://github.com/mehulmpt/">
                  <i class="fa fa-github"></i>
                </a>
              </div>
              <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4">
            <div class="avatar mx-auto">
              <img src="https://avatars3.githubusercontent.com/u/6681634?s=400&v=4" class="rounded z-depth-1-half" alt="avatar" width="250px;">
            </div>
            <h4 class="font-weight-bold my-4">Ishita Mediratta</h4>
            <h6 class="text-uppercase grey-text mb-3"><strong>Web Developer</strong></h6>

            <!--Pinterest -->
            <a class="btn-floating btn-sm mx-1 mb-0 btn-pin" href="https://github.com/ishitamed19/">
              <i class="fa fa-github "></i>
            </a>
          </div>
          <!-- Grid column -->



        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row text-center">
                <div class="col-md-2"></div>
                <!-- Grid column -->
                <div class="col-md-4 mb-md-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="/img/rish.jpeg" class="rounded z-depth-1-half" alt="avatar" width="250px;">
                  </div>
                  <h4 class="font-weight-bold  my-4">Rishabh Anand</h4>
                  <h6 class="text-uppercase mb-3"><strong>Web Developer</strong></h6>

                  <a class="btn-floating btn-sm mx-1 mb-0 btn-tw" href="https://github.com/rish-0-0/">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 mb-md-0 mb-5">
                      <div class="avatar mx-auto">
                        <img src="img/soumalya.jpg" class="rounded z-depth-1-half" alt="avatar" width="250px;">
                      </div>
                      <h4 class="font-weight-bold  my-4">Soumalya Barari</h4>
                      <h6 class="text-uppercase grey-text mb-3"><strong>Video Editor</strong></h6>
                      <!-- Facebook-->
                      <a class="btn-floating btn-sm mx-1 mb-0 btn-fb" href="https://www.facebook.com/soumalya.barari">
                        <i class="fa fa-facebook"></i>
                      </a>

                    </div>
                    <!-- Grid column -->

              </div>
              <!-- Grid row -->

      </section>
      <!-- Section: Team v.2 -->


		</div>

		<footer>
                <div class="social-footer">
                    <a href="https://www.facebook.com/bitswaves/"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/wavesbits/?hl=en"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCAhDB7L1iNrq11nZe-mwQjw"><i class="fa fa-youtube"></i></a>
                    <a href="https://twitter.com/bitswaves?lang=en"><i class="fa fa-twitter"></i></a>
                </div>
                <div class="right-footer">
                    <a href="/developers">DEVELOPERS</a>
                </div>
            </footer>


		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js'></script>
        <script src="js/nav.js"></script>
      <!-- JQuery -->
      <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
      <!-- Bootstrap tooltips -->
      <script type="text/javascript" src="/js/popper.min.js"></script>
      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="/js/bootstrap.min.js"></script>
		</body></html>
