<!DOCTYPE html>
<html lang='en' class=''>
		<head>
		<title>Waves 2018</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="theme-color" content="#000000">
		
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link re="stylesheet" href="/css/style.css">
		</head>
		<body style="background-color:black;" onload="setter()">
			<!-- Space for preloader -->
			<div id="pre-load" style="width:100%; height:100%; ">
					<div class='loader'>
						<div class='bulb-wire'>
							<div class='fa fa-lightbulb-o'></div>
							<div class='bulb-glow'></div>
						</div>
						<div class='waves'>
							<span>loading...</span>
						</div>
					</div>
				</div>
				<!-- End of Preloader -->
		<header>
			<div class="nav">
				<div class="toggle">
					<div class="bar"></div>
				</div>
				<nav class="hidden">
					<div class="showcase">
						<div class="showcase-container">
							<ul class="showcase-menu">
								<li><img src="img/logo-lite.png" alt="Waves Logo"></li>
								<li><img src="img/reg.png" alt="Registration"></li>
								<li><img src="img/events.png" alt="Events"></li>
								<li><img src="img/csr1.png" alt="csr"></li>
								<li><img src="img/sponsors.png" alt="csr"></li>
								<li><img src="img/contact-us.png" alt="contact-us"></li>
								<li><img src="img/our-team.png" alt="our-team"></li>	
							</ul>
						</div>
					</div>
					
					<div class="menu">
						<ul class="main-menu">
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/register">Registration</a></li>
							<li><a href="/events">Events</a></li>
							<li><a href="/event/csr">CSR</a></li>
							<li><a href="/sponsors">Sponsors</a></li>
							<li><a href="/contact-us">Contact Us</a></li>
							<li><a href="/our-team">Our Team</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<div class="main-content">
		</div>
		<footer>
			<div class="social-footer">
				<a href="https://www.facebook.com/bitswaves/"><i class="fa fa-facebook"></i></a>
				<a href="https://www.instagram.com/wavesbits/?hl=en"><i class="fa fa-instagram"></i></a>
				<a href="https://www.youtube.com/channel/UCAhDB7L1iNrq11nZe-mwQjw"><i class="fa fa-youtube"></i></a>
				<a href="https://twitter.com/bitswaves?lang=en"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="right-footer">
				<a href="/register">Register Now</a>
				<a class="desk-only"href="/developers">DEVELOPERS</a>
			</div>
		</footer>

		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js'></script>
		<script src="js/nav.js"></script>
		<!-- <script>
		var timeOut;
            function setter() {
                timeOut = setTimeout(showPage, 1000);
            }
            function showPage() {
                removePreloader();
                $('#fullPage').fadeIn(3000);
            }
            function removePreloader() {
                document.getElementById('pre-load').style.display = 'none';
            }
		</script> -->

<div id="forward"><span>Long Tap Here To Proceed</span></div>
<!--<div id="forward"></div>-->

<div id="video">
<video id="playerForward" muted="muted" preload type="video/mp4">
</video>

<video id="playerBackward" class="hide" muted="muted" preload type="video/mp4">
</video>
</div>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="/js/script_prod.js"></script>

		</body>
		</html>