<!DOCTYPE html>
<html lang='en' class=''>
		<head>
		<title>Waves 2018</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="theme-color" content="#000000">
		
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		</head>
		<body style="background-color:black;" onload="setter()">
			<!-- Space for preloader -->
			<div id="pre-load" style="width:100%; height:100%; ">
					<div class='loader'>
						<div class='bulb-wire'>
							<div class='fa fa-lightbulb-o'></div>
							<div class='bulb-glow'></div>
						</div>
						<div class='waves'>
							<span>loading...</span>
						</div>
					</div>
				</div>
				<!-- End of Preloader -->
		<header>
			<div class="nav">
				<div class="toggle">
					<div class="bar"></div>
				</div>
				<nav class="">
					<div class="showcase">
						<div class="showcase-container">
							<ul class="showcase-menu">
								<li><img src="img/logo2.png" alt="Waves Logo" width="40%"></li>
								<li><img src="img/fashp.png" alt="Registration" width="100%"></li>
								<li><img src="img/music.png" alt="Events" width="100%"></li>
								<li><img src="img/about-visual.png" alt="csr" width="100%"></li>
								
								<li style="background-image:url(https://d2kbkpwf98wmwo.cloudfront.net/images/menu/motion.png);"></li>
								<li>ABC</li>
								<li style="background-image:url(https://images.unsplash.com/photo-1537914675540-ec9f82fbd752?ixlib=rb-0.3.5&s=7d427165e9b4e7aa8d80b19c9d0b3128&auto=format&fit=crop&w=1316&q=80);"></li>
							</ul>
						</div>
					</div>
					
					<div class="menu">
						<ul class="main-menu">
							<li class="active"><a href="/">Home</a></li>
							<li><a href="#!">Registration</a></li>
							<li><a href="/events">Events</a></li>
							<li><a href="/event/csr">CSR</a></li>
							<li><a href="/sponsors">Sponsors</a></li>
							<li><a href="/contact-us">Contact Us</a></li>
							<li><a href="/our-team">Our Team</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<div class="main-content">


		</div>

		<footer>
			<div class="social-footer">
				<a href="/"><i class="fa fa-facebook"></i></a>
				<a href="/"><i class="fa fa-instagram"></i></a>
				<a href="/"><i class="fa fa-youtube"></i></a>
				<a href="/"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="right-footer">
				<a href="/">DEVELOPERS</a>
			</div>
		</footer>
		</script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js'></script>
		<script src="js/nav.js"></script>
		<script>
		var timeOut;
            function setter() {
                timeOut = setTimeout(showPage, 8000);
            }
            function showPage() {
                removePreloader();
                $('#fullPage').fadeIn(3000);
            }
            function removePreloader() {
                document.getElementById('pre-load').style.display = 'none';
            }
		</script>
		</body></html>