<!DOCTYPE html>
<html lang='en' class=''>
		<head>
		<title>Waves 2018</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="theme-color" content="#000000">
		
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/register.css"
		</head>
		<body style="background-color:black;">
			
		<header>
			<div class="nav">
				<div class="toggle">
					<div class="bar"></div>
				</div>
				<nav class="hidden">
					<div class="showcase">
						<div class="showcase-container">
							<ul class="showcase-menu">
								<li><img src="img/logo2.png" alt="Waves Logo" width="40%"></li>
								<li><img src="img/fashp.png" alt="Registration" width="100%"></li>
								<li><img src="img/music.png" alt="Events" width="100%"></li>
								<li><img src="img/about-visual.png" alt="csr" width="100%"></li>
								
							</ul>
						</div>
					</div>
					
					<div class="menu">
						<ul class="main-menu">
							<li><a href="/">Home</a></li>
							<li class="active"><a href="/register">Registration</a></li>
							<li><a href="/events">Events</a></li>
							<li><a href="/event/csr">CSR</a></li>
							<li><a href="/sponsors">Sponsors</a></li>
							<li><a href="/contact-us">Contact Us</a></li>
							<li><a href="/our-team">Our Team</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<div class="main-content">
                <div class="container right-align">
                        <div class="row">
                            <h1 class="white-text" style="font-size:2em">REGISTER</h1>
                        </div>
                        <div class="row">
                            <!-- Registration button -->
                            <button data-target="modal1" class="white-text modal-trigger waves-effect btn" style="z-index: 999">REGISTER NOW</button>
                        </div>
                        <div class="row">
                            <!-- Any paragraph -->
                            <p class="flow-text white-text">Register now to be part of one of Asia's best fests! You're
                                just a few clicks away from being part of Waves 2018.
                            </p>
                        </div>
                    </div>

		</div>

		<footer>
			<div class="social-footer">
				<a href="/"><i class="fa fa-facebook"></i></a>
				<a href="/"><i class="fa fa-instagram"></i></a>
				<a href="/"><i class="fa fa-youtube"></i></a>
				<a href="/"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="right-footer">
				<a href="/">DEVELOPERS</a>
			</div>
        </footer>
        <!-- The modal -->
        <div id="modal1" class="modal" style="display:none;">
                <div class="modal-content">
                    <h4 class="center" >Register</h4>
                    <form method="POST" action="#">
                        <div class="container">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="irshad">
                                        <input type="checkbox" id="irshad">
                                        <span>Irshad</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="smtf">
                                        <input type="checkbox" id="smtf">
                                        <span>SMTF</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col l4">
                                    <label for="inverse">
                                        <input type="checkbox" id="inverse">
                                        <span>InVerse</span>
                                    </label>
                                </div>
                            </div>
                       
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="name" type="text" class="validate">
                                    <label for="name">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">smartphone</i>
                                    <input id="mobile" type="text" class="validate">
                                    <label for="mobile">Phone</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                    <span class="helper-text" data-error="Wrong" data-success="Correct"></span>                            
                                </div>
                            </div>
                            <div class="row">
                                <div class='input-field col s12'>
                                    <i class="material-icons prefix">group</i>
                                    <input id="college" type="text" class="validate">
                                    <label for="college">College</label>
                                </div>
                            </div>
                        
                            <div class="row center">
                                <button type="submit" class="btn waves-effect waves-light black-text">Submit</button>
                            </div>
                        </div>
                        </div>  
                    </form>    
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
            <!-- It's the modal don't disturb -->
		
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js'></script>
        <script src="js/nav.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            // Required for materialize functioning, as it heavily depends on javascript plugins
            $(document).ready(function() {
                $('.tabs').tabs();
            });
            $(document).ready(function(){
                 $('.slider').slider();
            });
            $(document).ready(function(){
                $('.pushpin').pushpin();
            });
            $(document).ready(function(){
                $('.modal').modal();
            });           
        </script>
		</body></html>