<!DOCTYPE html>
<html lang='en' class=''>
		<head>
		<title>Sponsors | Waves 2018</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="theme-color" content="#000000">
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
		
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/register.css"
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="/css/mdb.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
		</head>
		<body style="background-color:black;">
			
		<header>
			<div class="nav">
				<div class="toggle">
					<div class="bar"></div>
				</div>
				<nav class="hidden">
            <div class="showcase">
                <div class="showcase-container">
                  <ul class="showcase-menu">
                    <li><img src="img/logo-lite.png" alt="Waves Logo"></li>
                    <li><img src="img/reg.png" alt="Registration"></li>
                    <li><img src="img/events.png" alt="Events"></li>
                    <li><img src="img/csr1.png" alt="csr"></li>
                    <li><img src="img/sponsors.png" alt="csr"></li>
                    <li><img src="img/contact-us.png" alt="csr"></li>
                    <li><img src="img/our-team.png" alt="our-team"></li>	
                  </ul>
                </div>
              </div>
					
					<div class="menu">
						<ul class="main-menu">
							<li><a href="/">Home</a></li>
							<li><a href="/register">Registration</a></li>
							<li><a href="/events">Events</a></li>
							<li><a href="/event/csr">CSR</a></li>
							<li class="active"><a href="/sponsors">Sponsors</a></li>
							<li><a href="/contact-us">Contact Us</a></li>
							<li><a href="/our-team">Our Team</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<div class="main-content">
       

            <section class="team-section text-center my-5">
            
              <!-- Section heading -->
            
              <h2 class="h1-responsive font-weight-bold my-5" style="color: #fff">OUR SPONSORS</h2>
            
            
              <div class="row">
            
                  <!-- Grid column -->
                  <div class="col-lg-12 mb-lg-0 mb-5">
                    <h2 class="h2-responsive font-weight-bold my-5">Associate Title Sponsors</h2>
                  </div>
            
            
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                      <div class="avatar mx-auto">
                        <img src="img/sponsors/woo.png" class=" "  alt="Sample avatar">
                      </div>
                      <h5 class="font-weight-bold mt-4 mb-3">Festival Sponsor</h5>
                    </div>
            
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-4 col-xs-4">
                    <div class="avatar mx-auto">
                      <img src="img/sponsors/vh1.png" class=" "  alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Sizzle</h5>
                  </div>
            
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-4 col-xs-4">
                    <div class="avatar mx-auto">
                      <img src="img/sponsors/cc.png" class=" " alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">SMTF</h5>
                  </div>
            
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-4 col-xs-4">
                    <div class="avatar mx-auto">
                      <img src="img/sponsors/zasya.png" class=" "  alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Natyanjali</h5>
                  </div>
            
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-4 col-xs-4">
                    <div class="avatar mx-auto">
                      <img src="img/sponsors/gim.png" class=" " alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Consulere</h5>
                  </div>
            
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-4 col-xs-4">
                    <div class="avatar mx-auto">
                      <img src="img/sponsors/numadic.png" class=" "  alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Strangely Familiar</h5>
                  </div>
            
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-4 col-xs-4">
                    <div class="avatar mx-auto">
                      <img src="img/sponsors/maruti.png" class=" " alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Hindi Night</h5>
                  </div>
            
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-4 col-xs-4">
                    <div class="avatar mx-auto">
                      <img src="img/sponsors/integriti.png" class=" "  alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">EDM Night</h5>
                  </div>
            
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-4 col-xs-4">
                    <div class="avatar mx-auto">
                      <img src="img/sponsors/fbb.png" class=" " alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">FashP</h5>
                  </div>
            
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-4 col-xs-4">
                    <div class="avatar mx-auto">
                      <img src="img/sponsors/recron.png" class=" " alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Mr and Mrs Waves</h5>
                  </div>
            
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-4 col-xs-4">
                    <div class="avatar mx-auto">
                      <img src="img/sponsors/atlantis.png" class=" "  alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Indian Rock</h5>
                  </div>
            
              <!-- Grid column -->
              <div class="col-lg-4 col-md-4 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                  <img src="img/sponsors/psi.png" class=" " alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Associate Sponsor for Searock</h5>
              </div>
            
              <!-- Grid column -->
              <div class="col-lg-12 col-md-12 mb-lg-0 mb-12">
                <div class="avatar mx-auto">
                  <img src="img/sponsors/twistedtiffin.png" class=" " alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Food Sponsor for Prom</h5>
              </div>
            
            </div>
            
            
              <!-- Grid row -->
              <div class="row">
            
                <div class="col-lg-12 mb-lg-0 mb-5">
                  <h2 class="h2-responsive font-weight-bold my-5">Official Partners</h2>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/zebronics.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Festival Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/nestle.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Festival Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/droom.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Powered by Partner for Waves & EDM Night</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/timeout.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Brought to you by Partner for EDM Night</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/wipro.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Sustainability Partner</h5>
                </div>
            
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-md-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/manforce.png" class=" " alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Safety Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/pilot.png" class=" " alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Stationary Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/madoverpoker.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Poker Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/time.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Higher Education Partner</h5>
                </div>
                <!-- Grid column -->
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-md-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/sbi.png" class=" " alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Banking Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/real.png" class=" " alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Beverage Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/furtados.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Gear Partner for Searock</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/gandhi.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Powered By Partner for Waves Open Quiz</h5>
                </div>
                <!-- Grid column -->
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-md-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/dogma.png" class=" " alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Prize Partner for Searock</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/cidade.png" class=" " alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Hospitality Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/power.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Empowering Partner</h5>
                </div>
            
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/saavn.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Music Streaming Partner</h5>
                </div>
                <!-- Grid column -->
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-md-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/lifestyle.png" class=" " alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Fashion Magazine Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/blogadda.png" class=" " alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Blogger Outreach Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/inox.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Exclusive Multiplex Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/rdx.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Regional Channel Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/vivagoa.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Goan Lifestyle Magazine Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/womansera.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Women's Magazine Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/nescafelabs.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Talent Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/mtv.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Bollywood Media Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/caravan.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Cultural Magazine Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/colors.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Media Sponsor</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/grapevine.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Youth Marketing Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/arre.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Entertainment Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/mirchi.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Exclusive Radio Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/afternoon.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Mumbai Print Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/gt.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Regional Newspaper Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/goabackstage.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Goan Media Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/goaprism.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Goan Media Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/watsons.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Food Fest Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/squareruth.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Food Fest Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/filomena.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Food Fest Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/voltaire.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Food Fest Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/kfc.png" class=" "  alt="Sample avatar">
                  </div>
                  <h5 class="font-weight-bold mt-4 mb-3">Food Fest Partner</h5>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-12 col-md-12 mb-lg-12 mb-12" style="background: #000; width: 300px; height: 300px; size: contain;">
                  <h5 class="font-weight-bold mt-4 mb-3">Food Fest Partners:</h5>
                    <li>Bite-Me Cateres</li>
                    <li>Toffee Doodle</li>
                    <li>Rolls King</li>
                    <li>Stone Cold Kulfi Icecreame</li>
                    <li>Lazeez Pizza</li>
                    <li>Mr. Mukesh Shah </li>
                    <li>Frosty's</li>
                    <li>SL Caterers</li>
                </div>
            
            </div>
            
            <div class="row">
                <!-- Grid column -->
                <div class="col-lg-12 mb-lg-0 mb-5">
                  <h2 class="h2-responsive font-weight-bold my-5">Online Media Partners</h2>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/stfu.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/ae.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/atkt.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/buddybits.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/cm.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/collegedesk.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/dubeat.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/festpav.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/musicunplugged.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/edutree.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/goan.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/vascowatch.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/jam.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/rsj.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/metalbase.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/parikrama.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/ytv.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/ohcampus.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/chaaipani.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/spillpoetry.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/meraevents.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/cray.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/festsinfo.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/indiaedu.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/knowafest.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/bms.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/catchnews.png" class=" "  alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
                <!-- Grid column -->
                <div class="col-lg-12 col-md-12">
                  <div class="avatar mx-auto">
                    <img src="img/sponsors/yka.png" class=" " alt="Sample avatar" style="margin: 10px;">
                  </div>
                </div>
            
            </div>
            </section>

		</div>

		<footer>
        <div class="social-footer">
          <a href="https://www.facebook.com/bitswaves/"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/wavesbits/?hl=en"><i class="fa fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCAhDB7L1iNrq11nZe-mwQjw"><i class="fa fa-youtube"></i></a>
          <a href="https://twitter.com/bitswaves?lang=en"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="right-footer">
          <a href="/developers">DEVELOPERS</a>
        </div>
      </footer>
    
		<script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js'></script>
        <script src="js/nav.js"></script>
        <script type="text/javascript" src="/js/popper.min.js"></script>
                <!-- Bootstrap core JavaScript -->
                <script type="text/javascript" src="/js/bootstrap.min.js"></script>
                <!-- MDB core JavaScript -->
                <script type="text/javascript" src="/js/mdb.min.js"></script>
		</body></html>